/*--------------------Hero Section --------------------*/

@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body {
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.bioBody {
    margin: auto 0;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 1;
    transition: 1s opacity;
    overflow-y: scroll;
}

.contactBody {
    margin: auto 0;
    background-color: lightslategrey;
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 1;
    transition: 1s opacity;
}

.bioBody.fade-out {
    opacity: 0;
    transition: none;
}

.contactBody.fade-out {
    opacity: 0;
    transition: none;
}

.homeBody {
    margin: auto 0;
    background: url("https://res.cloudinary.com/dnhwxgf8i/image/upload/c_scale,h_718,q_100/v1487689941/kamil-lehmann-379_lz8idf.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.transparent {
    background: rgba(11, 31, 65, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.menu-cont {
    position: fixed;
    float: left;
    top: 4%;
    display: block;
    cursor: pointer;
    padding: 4px;
    cursor: pointer;
    z-index: 200;
}

.menu-txt {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-overflow: ellipsis;
    background-image: -webkit-linear-gradient(#FA2300, #E1037C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 100;
}

.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;

}

.overlay ul li a {
    display: block;
    position: relative;
    text-overflow: ellipsis;
    background-image: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;

    -webkit-transition: .35s;
    transition: .35s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.overlay ul li a:hover {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

.overlay ul li a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;

    -webkit-transition: .35s;
    transition: .35s;
}

.overlay ul li a:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.ml12 {
    font-weight: 400;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 200px;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

@media only screen and (max-width: 600px) {
    .ml12 {
        font-size: 30px;
    }
}

.ml13 {
    font-weight: 400;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 20px;
}

.ml13 .letter {
    display: inline-block;
    line-height: 1em;
}

@media only screen and (max-width: 600px) {
    .ml13 {
        font-size: 15px;
    }
}

.meWales {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 4em;
}

.meWales:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.bioHeader {
    display: inline-block;
    line-height: 1em;
    font-weight: 400;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
    border-right: 1px solid black;
    white-space: nowrap;
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.bioHeader2 {
    display: inline-block;
    line-height: 1em;
    font-weight: 300;
    font-size: 1.7em;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
    border-right: 1px solid black;
    white-space: nowrap;
    width: 29.3em;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@media only screen and (max-width: 600px) {
    .bioHeader {
        font-size: 2.0em;
    }
}

@media only screen and (max-width: 800px) {
    .bioHeader2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .bioHeader2 {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    .bioHeader2 {
        font-size: 0.6em;
    }
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 1px solid black;
    }
    100% {
        border: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.contactHeader {
    display: inline-block;
    margin: auto;
    line-height: 1em;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 3em;
}

.contactHeader3 {
    margin-top: 30px;
}

@media only screen and (max-width: 320px) {
    .contactHeader {
        display: inline-block;
        margin: auto;
        line-height: 1em;
        font-weight: 400;
        font-size: 1.8em;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 320px) {
    .contactHeader3 {
        margin-top: 30px;
        font-size: 1.1em;
    }
}

.row {
    margin: auto;
    padding: 10px;
    height: 40px;
}

.row2 {
    margin: auto;
}

.icons {
    margin-bottom: 20px;
}

.css-typing {
    margin-top: 20px;
    opacity: 0;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.css-typing p {
    font-family: "Consolas";
    font-size: 16px;
    line-height: 50px;
}

.fa-graduation-cap {}

.fa-book {
    color: blue;
}

.fa-code {
    color: orange;
    padding-bottom: 10px;
}



@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*--------------------Menu Bar--------------------*/

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* -------------------- Social Icons ---------------------*/

body {
    background: #0A122A;
}

/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */

.wrapper {
    width: auto;
    display: inline-block;
    height: 100%;
    text-align: center;
    margin-top: 4em;
}

/* Style the Un-order list by setting its list-style to none */

.wrapper ul {
    list-style: none;
    padding-left: 0px;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */

.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */

.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */

/*linkedin*/

.wrapper ul li:hover.linkedin {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*github*/

.wrapper ul li:hover.github {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/* outlook */

.wrapper ul li:hover.email {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-at {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px) {
    .wrapper {
        width: 150px;
    }
    .wrapper ul li {
        margin-top: 2px;
    }
    .wrapper ul li.google {
        margin-left: 60px;
    }
}


@media screen and (max-width: 340px) {
    .wrapper {
        width: 150px;
    }
    .wrapper ul li {
        margin: 15px;
    }
    .wrapper ul li.google {
        margin-left: 15px;
    }
}
