/*--------------------Defaults --------------------*/

@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Bitter|Philosopher');
@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
    height: 100%;
    top: 0;
    left: 0;
}

.arrowontainer {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 5em;
}


.chevron {
    display: block;
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    top: 85%;
    left: 50%;
    margin-left: -9px;

}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    position: absolute;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}


/*------------------------Home---------------------*/

.homeBody {
    height: 100%;
    margin: auto 0;
    background: url(Assets/wales-bridge.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.transparent {
    background: rgba(11, 31, 65, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.ml12 {
    font-weight: 400;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transform: translate(-50%, -50%);
    top: 44%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
    color: #fff;
}

@media only screen and (max-width: 650px) {
    .ml12 {
        font-size: 30px;
    }
}

.ml13 {
    font-weight: 400;
    font-size: 2.6em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transform: translate(-50%, -50%);
    top: 56%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.ml13 .letter {
    display: inline-block;
    line-height: 1em;
    color: #fff;
}

@media only screen and (max-width: 650px) {
    .ml13 {
        font-size: 18px;
    }
}




/*------------------------Bio----------------------*/

.bioBody {
    margin: auto 0;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 1;
    transition: 1s opacity;
    overflow-x: hidden;
}

.bioBody.fade-out {
    opacity: 0;
    transition: none;
}

.meWales {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 4em;
}

.meWales:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.bioHeader {
    display: inline-block;
    line-height: 1em;
    font-weight: 400;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
    border-right: 1px solid black;
    white-space: nowrap;
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.bioHeader2 {
    display: inline-block;
    line-height: 1em;
    font-weight: 300;
    font-size: 1.7em;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
    border-right: 1px solid black;
    white-space: nowrap;
    width: 29.3em;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}


@media only screen and (max-width: 600px) {
    .bioHeader {
        font-size: 2.0em;
    }
}

@media only screen and (max-width: 800px) {
    .bioHeader2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 690px) {
    .bioHeader2 {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    .bioHeader2 {
        font-size: 0.6em;
    }
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 1px solid black;
    }
    100% {
        border: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.bioRow {
    margin: auto;
    padding: 10px;
    /*    height: 40px;*/
}

.css-typing {
    margin-top: 20px;
    opacity: 0;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 3000px) {
    .css-typing {
        margin-top: 50px;
        opacity: 0;
        -webkit-animation: fadein 2s;
        animation: fadein 2s;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }

    @media only screen and (max-width: 3000px) {

        .css-typing p {
            font-family: 'Montserrat', sans-serif;;
            font-size: 15px;
            line-height: 50px;
            width: 90%;
            margin: auto;
        }

        .row2 {
            margin: auto;
        }

        .icons {
            margin-bottom: 20px;
        }

        .fa-graduation-cap {}

        .fa-book {
            color: blue;
        }

        .fa-code {
            color: orange;
        }



        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        /*------------------------Portfolio----------------------*/
        .portfolioBody {
            margin: auto 0;
            background-color: #F5F5F5;
            background-size: cover;
            background-position: center;
            text-align: center;
            opacity: 1;
            transition: 1s opacity;
            width: 100%;
            overflow-x: hidden;
        }

        .portfolioBody.fade-out {
            opacity: 0;
            transition: none;
        }

        .portfolioHeader {
            display: inline-block;
            margin: auto;
            line-height: 1em;
            font-weight: 400;
            font-size: 2.5em;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            margin-top: 2em;
            margin-bottom: 1em;
        }

        .portfolioBody .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
        }

        .project1 {
            padding-bottom: 20px;
        }

        .project1 img {
            padding-top: 12.5px;
        }

        .project2 {
            padding-bottom: 20px;
        }

        .project2 img {
            padding-top: 12.5px;
        }

        .project3 {
            padding-bottom: 100px;
        }

        .project3 img {
            padding-top: 12.5px;
        }

        .projects h4 {
            padding-top: 55px;
            font-family: 'Bitter', serif;
        }

        .projects p {
            font-family: 'Philosopher', sans-serif;
        }

        @media only screen and (max-width: 700px) {
            .projects {
                width: 90%;
                margin: auto;
            }
        }

        @media only screen and (max-width: 450px) {
            .projects img {
                width: 90%;
                margin: auto;
            }
        }

        @media only screen and (max-width: 630px) {
            .projects p br {
                content: ' ';
            }
        }

        hr {
            width: 70%;
            background-color: #f48042;
        }

        @media only screen and (max-width: 700px) {
            .skate-modal-content,
            sass-modal-content {
                width: 100%;
            }
        }

        /* Github Button */
        .btn6,
        .btn6:link,
        .btn6:visited {
            padding: 13px 8px;
            border: 2px solid #f48042;
            color: #333;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 3px;
            transition: all .2s ease-in-out;
            border-radius: 30px;
        }

        .btn6:hover,
        .btn6:link:hover,
        .btn6:visited:hover {
            background: #333;
            border: 1px solid #333;
            color: #fefefe;
            border-radius: 30px;
        }

        /*--------Modals ----------*/
        /* Style the Image Used to Trigger the Modal */
        #skateWebsite,
        #sassWebsite,
        #loginWebsite {
            border-radius: 3%;
            cursor: pointer;
            transition: 0.3s;
        }

        #skateWebsite:hover,
        #sassWebsite:hover,
        #loginWebsite:hover {
            opacity: 0.7;
        }

        /* The Modal (background) */
        .skatemodal,
        .sassmodal,
        .loginmodal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 25px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9);
            /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .skate-modal-content,
        .sass-modal-content,
        .login-modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #skatecaption,
        #sasscaption,
        #logincaption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .skate-modal-content,
        #skatecaption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        .sass-modal-content,
        #sasscaption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        .login-modal-content,
        #logincaption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .skateclose,
        .sassclose,
        .loginclose {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .skateclose:hover,
        .skateclose:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        .sassclose:hover,
        .sassclose:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        .loginclose:hover,
        .loginclose:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        /*------------------------Contact----------------------*/
        .contactBody {
            margin: auto 0;
            background-color: lightslategrey;
            background-size: cover;
            background-position: center;
            text-align: center;
            opacity: 1;
            transition: 1s opacity;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .contactBody.fade-out {
            opacity: 0;
            transition: none;
        }

        .contactHeader {
            display: inline-block;
            margin: auto;
            line-height: 1em;
            font-weight: 400;
            font-size: 2.5em;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            transform: translate(-50%, -50%);
            top: 30%;
            left: 50%;
            position: absolute;
            white-space: nowrap;
        }

        .contactHeader3 {
            transform: translate(-50%, -50%);
            top: 30%;
            left: 50%;
            position: absolute;
            white-space: nowrap;
            line-height: 2;
            margin-top: 4em;
        }

        .footer p {
            color: white;
            float: center;
            font-family: 'Tajawal', sans-serif;
        }

        @media only screen and (max-width: 320px) {
            .contactHeader {
                display: inline-block;
                margin: auto;
                line-height: 1em;
                font-weight: 400;
                font-size: 1.8em;
                text-transform: uppercase;
                letter-spacing: 0.3em;
                transform: translate(-50%, -50%);
                top: 30%;
                left: 50%;
                position: absolute;
                white-space: nowrap;
            }
        }

        @media only screen and (max-width: 320px) {
            .contactHeader3 {
                margin-top: 30px;
                font-size: 1.1em;
            }
        }


        /* -- Social Icons ---*/
        body {
            background: #0A122A;
        }

        /* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
        .footer {
            position: relative;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            text-align: center;
        }

        .footer .wrapper {
            float: right;
        }

        @media only screen and (max-width: 768px) {
            .footer .wrapper {
                float: none;
            }
        }

        .wrapper {
            width: auto;
            display: inline-block;
            height: 100%;
            text-align: center;
        }

        /* Style the Un-order list by setting its list-style to none */
        .wrapper ul {
            list-style: none;
            padding-left: 0px;
        }

        /* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
        .wrapper ul li {
            width: 75px;
            height: 75px;
            line-height: 75px;
            margin: 0 10px;
            margin-bottom: 20px;
            text-align: center;
            cursor: pointer;
            border-radius: 50%;
            border: 5px solid #D8E2DC;
            float: left;
            transition: all 0.5s ease;
        }

        /* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
        .wrapper ul li .fa {
            color: #D8E2DC;
            margin-top: 20px;
            transition: all 0.5s ease;
        }

        /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
        /*linkedin*/
        .wrapper ul li:hover.linkedin {
            border: 5px solid #3b5998;
            box-shadow: 0 0 15px #3b5998;
            transition: all 0.5s ease;
        }

        .wrapper ul li:hover .fa-linkedin {
            color: #3b5998;
            text-shadow: 0 0 15px #3b5998;
            transition: all 0.5s ease;
        }

        /*github*/
        .wrapper ul li:hover.github {
            border: 5px solid #00aced;
            box-shadow: 0 0 15px #00aced;
            transition: all 0.5s ease;
        }

        .wrapper ul li:hover .fa-github {
            color: #00aced;
            text-shadow: 0 0 15px #00aced;
            transition: all 0.5s ease;
        }

        /* outlook */
        .wrapper ul li:hover.email {
            border: 5px solid #bc2a8d;
            box-shadow: 0 0 15px #bc2a8d;
            transition: all 0.5s ease;
        }

        .wrapper ul li:hover .fa-at {
            color: #bc2a8d;
            text-shadow: 0 0 15px #bc2a8d;
            transition: all 0.5s ease;
        }


        /* media queries */
        @media screen and (max-width: 640px) {
            .wrapper {
                width: auto;
                display: inline-block;
            }
            .wrapper ul li {
                margin-top: 2px;
                margin: 0 2px;
            }
        }


        @media screen and (max-width: 319px) {
            .wrapper {
                width: auto;
                display: inline-block;
            }
            .wrapper ul li {
                margin: 20px;
            }
        }

        @media only screen and (max-height: 440px) {
            .footer {
                position: absolute;
                display: block;
                float: center;
                padding: 1rem;
                text-align: center;
            }
        }
    }
